<div id="tabmenu">
    <ul>
        <li><a href="/"><img src="/assets/imgs/list.png" alt="list"></a></li>
        <li><a href="/chat"><img src="/assets/imgs/chat.png" alt="chat"></a></li>
    </ul>
</div>